/* ---------------------------Flag position--------------------------------*/
.flag {
    width: 20px;
    height: 14px;
    background-size: 280px 252px;
    background-image: url("../images/Flags.png");
    background-position: -180px -238px;
    
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    
}
.flag_AF{background-position:0px 0px;}
.flag_AL{background-position:-20px 0px;}
.flag_DZ{background-position:-40px 0px;}
.flag_AS{background-position:-60px 0px;}
.flag_AD{background-position:-80px 0px;}
.flag_AO{background-position:-100px 0px;}
.flag_AI{background-position:-120px 0px;}
.flag_AG{background-position:-140px 0px;}
.flag_AR{background-position:-160px 0px;}
.flag_AM{background-position:-180px 0px;}
.flag_AW{background-position:-200px 0px;}
.flag_AC{background-position:-220px 0px;}
.flag_AU{background-position:-240px 0px;}
.flag_AX{background-position:-260px 0px;}
.flag_AT{background-position:0px -14px;}
.flag_AZ{background-position:-20px -14px;}
.flag_BS{background-position:-40px -14px;}
.flag_BH{background-position:-60px -14px;}
.flag_BD{background-position:-80px -14px;}
.flag_BB{background-position:-100px -14px;}
.flag_BY{background-position:-120px -14px;}
.flag_BE{background-position:-140px -14px;}
.flag_BZ{background-position:-160px -14px;}
.flag_BJ{background-position:-180px -14px;}
.flag_BM{background-position:-200px -14px;}
.flag_BT{background-position:-220px -14px;}
.flag_BO{background-position:-240px -14px;}
.flag_BA{background-position:-260px -14px;}
.flag_BW{background-position:0px -28px;}
.flag_BR{background-position:-20px -28px;}
.flag_VG{background-position:-40px -28px;}
.flag_BN{background-position:-60px -28px;}
.flag_BG{background-position:-80px -28px;}
.flag_BF{background-position:-100px -28px;}
.flag_BI{background-position:-120px -28px;}
.flag_KH{background-position:-140px -28px;}
.flag_CM{background-position:-160px -28px;}
.flag_CA{background-position:-180px -28px;}
.flag_CV{background-position:-200px -28px;}
.flag_KY{background-position:-220px -28px;}
.flag_CF{background-position:-240px -28px;}
.flag_TD{background-position:-260px -28px;}
.flag_CL{background-position:0px -42px;}
.flag_CN{background-position:-20px -42px;}
.flag_CO{background-position:-40px -42px;}
.flag_KM{background-position:-60px -42px;}
.flag_CG{background-position:-80px -42px;}
.flag_CK{background-position:-100px -42px;}
.flag_CR{background-position:-120px -42px;}
.flag_CI{background-position:-140px -42px;}
.flag_HR{background-position:-160px -42px;}
.flag_CU{background-position:-180px -42px;}
.flag_CW{background-position:-100px -224px;}
.flag_CY{background-position:-200px -42px;}
.flag_CZ{background-position:-220px -42px;}
.flag_CD{background-position:-240px -42px;}
.flag_DK{background-position:-260px -42px;}
.flag_DG{background-position:0px -56px;}
.flag_DJ{background-position:-20px -56px;}
.flag_DM{background-position:-40px -56px;}
.flag_DO{background-position:-60px -56px;}
.flag_TL{background-position:-80px -56px;}
.flag_EC{background-position:-100px -56px;}
.flag_EG{background-position:-120px -56px;}
.flag_SV{background-position:-140px -56px;}
.flag_GQ{background-position:-160px -56px;}
.flag_ER{background-position:-180px -56px;}
.flag_EE{background-position:-200px -56px;}
.flag_ET{background-position:-220px -56px;}
.flag_FK{background-position:-240px -56px;}
.flag_FO{background-position:-260px -56px;}
.flag_FJ{background-position:0px -70px;}
.flag_FI{background-position:-20px -70px;}
.flag_FR{background-position:-40px -70px;}
.flag_GF{background-position:-60px -70px;}
.flag_PF{background-position:-80px -70px;}
.flag_GA{background-position:-100px -70px;}
.flag_GM{background-position:-120px -70px;}
.flag_GE{background-position:-140px -70px;}
.flag_DE{background-position:-160px -70px;}
.flag_GH{background-position:-180px -70px;}
.flag_GI{background-position:-200px -70px;}
.flag_GR{background-position:-220px -70px;}
.flag_GL{background-position:-240px -70px;}
.flag_GD{background-position:-260px -70px;}
.flag_GP{background-position:0px -84px;}
.flag_GU{background-position:-20px -84px;}
.flag_GT{background-position:-40px -84px;}
.flag_GN{background-position:-60px -84px;}
.flag_GW{background-position:-80px -84px;}
.flag_GY{background-position:-100px -84px;}
.flag_HT{background-position:-120px -84px;}
.flag_HN{background-position:-140px -84px;}
.flag_HK{background-position:-160px -84px;}
.flag_HU{background-position:-180px -84px;}
.flag_IS{background-position:-200px -84px;}
.flag_IN{background-position:-220px -84px;}
.flag_ID{background-position:-240px -84px;}
.flag_IR{background-position:-260px -84px;}
.flag_IQ{background-position:0px -98px;}
.flag_IE{background-position:-20px -98px;}
.flag_IL{background-position:-40px -98px;}
.flag_IT{background-position:-60px -98px;}
.flag_JM{background-position:-80px -98px;}
.flag_JP{background-position:-100px -98px;}
.flag_JO{background-position:-120px -98px;}
.flag_KZ{background-position:-140px -98px;}
.flag_KE{background-position:-160px -98px;}
.flag_KI{background-position:-180px -98px;}
.flag_KW{background-position:-200px -98px;}
.flag_KG{background-position:-220px -98px;}
.flag_LA{background-position:-240px -98px;}
.flag_LV{background-position:-260px -98px;}
.flag_LB{background-position:0px -112px;}
.flag_LS{background-position:-20px -112px;}
.flag_LR{background-position:-40px -112px;}
.flag_LY{background-position:-60px -112px;}
.flag_LI{background-position:-80px -112px;}
.flag_LT{background-position:-100px -112px;}
.flag_LU{background-position:-120px -112px;}
.flag_MO{background-position:-140px -112px;}
.flag_MK{background-position:-160px -112px;}
.flag_MG{background-position:-180px -112px;}
.flag_MW{background-position:-200px -112px;}
.flag_MY{background-position:-220px -112px;}
.flag_MV{background-position:-240px -112px;}
.flag_ML{background-position:-260px -112px;}
.flag_MT{background-position:0px -126px;}
.flag_MH{background-position:-20px -126px;}
.flag_MQ{background-position:-40px -126px;}
.flag_MR{background-position:-60px -126px;}
.flag_MU{background-position:-80px -126px;}
.flag_MX{background-position:-100px -126px;}
.flag_FM{background-position:-120px -126px;}
.flag_MD{background-position:-140px -126px;}
.flag_MC{background-position:-160px -126px;}
.flag_MN{background-position:-180px -126px;}
.flag_ME{background-position:-200px -126px;}
.flag_MS{background-position:-220px -126px;}
.flag_MA{background-position:-240px -126px;}
.flag_MZ{background-position:-260px -126px;}
.flag_MM{background-position:0px -140px;}
.flag_NA{background-position:-20px -140px;}
.flag_NR{background-position:-40px -140px;}
.flag_NP{background-position:-60px -140px;}
.flag_NL{background-position:-80px -140px;}
.flag_AN{background-position:-100px -140px;}
.flag_NC{background-position:-120px -140px;}
.flag_NZ{background-position:-140px -140px;}
.flag_NI{background-position:-160px -140px;}
.flag_NE{background-position:-180px -140px;}
.flag_NG{background-position:-200px -140px;}
.flag_NU{background-position:-220px -140px;}
.flag_KP{background-position:-240px -140px;}
.flag_MP{background-position:-260px -140px;}
.flag_NO{background-position:0px -154px;}
.flag_OM{background-position:-20px -154px;}
.flag_PK{background-position:-40px -154px;}
.flag_PW{background-position:-60px -154px;}
.flag_PS{background-position:-80px -154px;}
.flag_PA{background-position:-100px -154px;}
.flag_PG{background-position:-120px -154px;}
.flag_PY{background-position:-140px -154px;}
.flag_PE{background-position:-160px -154px;}
.flag_PH{background-position:-180px -154px;}
.flag_PL{background-position:-200px -154px;}
.flag_PT{background-position:-220px -154px;}
.flag_PR{background-position:-240px -154px;}
.flag_QA{background-position:-260px -154px;}
.flag_RE{background-position:0px -168px;}
.flag_RO{background-position:-20px -168px;}
.flag_RU{background-position:-40px -168px;}
.flag_RW{background-position:-60px -168px;}
.flag_SH{background-position:-80px -168px;}
.flag_KN{background-position:-100px -168px;}
.flag_LC{background-position:-120px -168px;}
.flag_PM{background-position:-140px -168px;}
.flag_VC{background-position:-160px -168px;}
.flag_WS{background-position:-180px -168px;}
.flag_SM{background-position:-200px -168px;}
.flag_ST{background-position:-220px -168px;}
.flag_SA{background-position:-240px -168px;}
.flag_SN{background-position:-260px -168px;}
.flag_RS{background-position:0px -182px;}
.flag_SC{background-position:-20px -182px;}
.flag_SL{background-position:-40px -182px;}
.flag_SG{background-position:-60px -182px;}
.flag_SK{background-position:-80px -182px;}
.flag_SI{background-position:-100px -182px;}
.flag_SB{background-position:-120px -182px;}
.flag_SO{background-position:-140px -182px;}
.flag_ZA{background-position:-160px -182px;}
.flag_KR{background-position:-180px -182px;}
.flag_SS{background-position:-120px -224px;;}
.flag_ES{background-position:-200px -182px;}
.flag_LK{background-position:-220px -182px;}
.flag_SD{background-position:-240px -182px;}
.flag_SR{background-position:-260px -182px;}
.flag_SZ{background-position:0px -196px;}
.flag_SE{background-position:-20px -196px;}
.flag_CH{background-position:-40px -196px;}
.flag_SY{background-position:-60px -196px;}
.flag_TW{background-position:-80px -196px;}
.flag_TJ{background-position:-100px -196px;}
.flag_TZ{background-position:-120px -196px;}
.flag_TH{background-position:-140px -196px;}
.flag_TG{background-position:-160px -196px;}
.flag_TK{background-position:-180px -196px;}
.flag_TO{background-position:-200px -196px;}
.flag_TT{background-position:-220px -196px;}
.flag_TN{background-position:-240px -196px;}
.flag_TR{background-position:-260px -196px;}
.flag_TM{background-position:0px -210px;}
.flag_TC{background-position:-20px -210px;}
.flag_TV{background-position:-40px -210px;}
.flag_UG{background-position:-60px -210px;}
.flag_UA{background-position:-80px -210px;}
.flag_AE{background-position:-100px -210px;}
.flag_GB{background-position:-120px -210px;}
.flag_US,.flag_UM{background-position:-140px -210px;}
.flag_UY{background-position:-160px -210px;}
.flag_VI{background-position:-180px -210px;}
.flag_UZ{background-position:-200px -210px;}
.flag_VU{background-position:-220px -210px;}
.flag_VA{background-position:-240px -210px;}
.flag_VE{background-position:-260px -210px;}
.flag_VN{background-position:0px -224px;}
.flag_WF{background-position:-20px -224px;}
.flag_YE{background-position:-40px -224px;}
.flag_ZM{background-position:-60px -224px;}
.flag_ZW{background-position:-80px -224px;}
.flag_AQ{background-position:-160px -224px;}
.flag_BV,.flag_SJ{background-position:-180px -224px;}
.flag_IO{background-position:-200px -224px;}
.flag_CX{background-position:-220px -224px;}
.flag_CC{background-position:-240px -224px;}
.flag_TF{background-position:-260px -224px;}
.flag_GG{background-position:0px -238px;}
.flag_HM{background-position:-20px -238px;}
.flag_JE{background-position:-40px -238px;}
.flag_YT{background-position:-60px -238px;}
.flag_NF{background-position:-80px -238px;}
.flag_PN{background-position:-100px -238px;}
.flag_GS{background-position:-120px -238px;}
.flag_EH{background-position:-140px -238px;}
.flag_IM{background-position:-160px -238px;}
#select2-localeCn-results .flag_AX{background-position:-140px -224px;}
/* ---------------------------Flag position--------------------------------*/